* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
}

i {
  cursor: pointer;
}

.app_container {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 243, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_inner {
  width: 400px;
  background-color: rgb(230, 241, 241);
  box-shadow: 0 0 5px 0 rgba(128, 0, 0, 1);
  color: rgb(108, 113, 117);
  font-size: 14px;
  font-weight: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid;
}

.item.done input {
	text-decoration: line-through;
	color: var(--grey);
}

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

.input_field {
  padding: 5px 10px;
  border-bottom: 1px solid;
}

.input_field > input {
  width: 100%;
  height: 35px;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.input_field > input::placeholder {
  font-style: italic;
}

#Todo{
   width: 90%;
  /* height: 35px; */
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 15px 10px;
}

.clear_completed_todo {
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.LINE_THROUGH{
  text-decoration: line-through;
}
