* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5d7df;
  width: 100%;
  height: 100%;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

.clear_completed_todo,
.app_container,
.todo-title,
#form,
.task {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

i {
  cursor: pointer;
}

i:hover {
  color: rgb(35, 33, 185);
}

.app_container {
  width: 100%;
  height: 100vh;
}

.app_inner {
  width: 80%;
  background-color: #fff;
  border-radius: 6px;
  color: rgb(108, 113, 117);
  font-size: 14px;
  font-weight: 100;
  height: auto;
  box-shadow: 4px 4px 5px #36373a;
}

.todo-title,
#form,
.task {
  justify-content: space-between;
  border-bottom: 1px solid #dadadc;
  min-height: 30px;
  max-height: 70px;
  width: 95%;
  margin: 0 auto;
  gap: 15px;
  padding: 0 5px;
}

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}

.input_field {
  width: 100%;
  height: 35px;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.label {
  width: fit-content;
  padding-left: 10px;
  color: #545862;
  font-size: 15px;
  font-weight: 400;
}

.label:hover {
  cursor: text;
}

.done .label {
  text-decoration: line-through;
  color: var(--grey);
}

.input_field > input::placeholder {
  font-style: italic;
}

#todo-lists > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}

.clear_completed_todo {
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  opacity: 0.8;
  height: 30px;
  background-color: #787f96;
  transition: 300ms;
  font-size: 16px;
  cursor: pointer;
}

.clear_completed_todo:hover {
  text-decoration: none;
  color: rgb(35, 33, 185);
  opacity: 1;
}

@media all and (min-width: 768px) {
  .app_inner {
    width: 45%;
    margin: 0 auto;
  }

  .label {
    padding-left: 10px;
  }
}
